In [ ]:
WAP to check how many fruits in a list have a in them , and we
need to print that fruit only

In [4]:
fruits=["apple","banana","apricot","orange","avacados","kiwi","blueberry"]
for i in fruits:
    if "a" in i:
        print(i)

apple
banana
apricot
orange
avacados

In [ ]:
for loops:
   1)range(start,stop,step) 
   2)list
    3)string

In [ ]:
nested for loop

In [18]:
for i in range(1,3):
    print(i)
    for j in["a","b"]:
        print(j)
        for k in range(1,4):
            print(k)

1
a
1
2
3
b
1
2
3
2
a
1
2
3
b
1
2
3

In [19]:
for i in range(2,11):
    print("Table of:",i)
    for a in range(1,11):
        print(i,"x",a,"=",i*a)
    print(" ")

Table of: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table of: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Table of: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Table of: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Table of: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [10]:
for i in range(2,11):
    print("Table of:",i)
    for a in range(10,0,-1):
        print(i,"x",a,"=",i*a)
    print(" ")

Table of: 2
2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

Table of: 3
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3

Table of: 4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

Table of: 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

Table of: 6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

Table of: 7
7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7

Table of: 8
8 x 10 = 80
8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8

Table of: 9
9 x 10 = 90
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9

Table of: 10
10 x 10 = 100
10 x 9 = 90
10 x 8 = 80
10 x 7 = 70
10 x 6 = 60
10 x 5 = 50
10 x 4 = 40
10 x 3 = 30
10 x 2 = 20
10 x 1 = 10

In [11]:
for i in range(10):      #it will take take as stop if there is only one number in range
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
l=[["Python"],["is"],["fun"]]
for i in l:
    for j in i:
        print(j,end=" ")

Python is fun

In [ ]:
lets suppose i have nos from 1to 20 and i need to tell which are prime which are composite

In [3]:
for i in range(2,21):
    c=1
    for j in range(2,i+1):
        if i%j==0:
            c=c+1
        
    if c>2:
        print("composite",i)
    else:
        print("prime",i)

prime 2
prime 3
composite 4
prime 5
composite 6
prime 7
composite 8
composite 9
composite 10
prime 11
composite 12
prime 13
composite 14
composite 15
composite 16
prime 17
composite 18
prime 19
composite 20