In [5]:
a=10
b=20
c=a
a=b
b=c
print(a)
print(b)

20
10

In [10]:
a=0
b=1
for i in range(1,11):
    c=a
    a=b
    b=a+c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [ ]:
WAP to take input from a user regarding a number and count it

In [27]:
n=int(input("Enter the no:"))
c=0
n=str(n)
for i in n:
    c=c+1
print(c)

Enter the no:899
3

In [125]:
p=["mercury","venus","earth","mars","jupiter",]
for i in p:
    c=0
    for j in i:
        c=c+1
    if c>5:
        print(i)

mercury
jupiter

In [ ]:
take a input n in int, convert that to str,then to float,then to int and at last
string again

In [4]:
n=int(input("Enter The Number:"))
a=str(int(float(str(n))))
a

Enter The Number:00

'0'

In [ ]:
given a list of numbers square the even nos and cube the odd numbers 
list is[11,9,10,15,6,78]

In [104]:
l=[11,9,10,15,6,78]
for i in l:
    if i%2==0:
        print(i,"is Even"," ",i*i)
    else:
        print(i,"is Odd"," ",i*i*i)

11 is Odd   1331
9 is Odd   729
10 is Even   100
15 is Odd   3375
6 is Even   36
78 is Even   6084